{
  "data": {
    "items": [
      {
        "id": "lovelace_owner",
        "icon": "mdi:account-supervisor",
        "mode": "storage",
        "require_admin": false,
        "show_in_sidebar": true,
        "title": "Owner",
        "url_path": "lovelace-owner"
      },
      {
        "id": "lovelace_primary",
        "icon": "mdi:account-child",
        "mode": "storage",
        "require_admin": false,
        "show_in_sidebar": true,
        "title": "Primary",
        "url_path": "lovelace-primary"
      },
      {
        "id": "notify_system",
        "icon": "mdi:home-outline",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": false,
        "title": "System",
        "url_path": "notify-system"
      }
    ]
  },
  "key": "lovelace_dashboards",
  "version": 1
}
