{
  "data": {
    "items": [
      {
        "icon": "mdi:account-child",
        "id": "lovelace_primary",
        "mode": "storage",
        "require_admin": true,
        "show_in_sidebar": true,
        "title": "Primary",
        "url_path": "lovelace-primary"
      }
    ]
  },
  "key": "lovelace_dashboards",
  "version": 1
}
